{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<h2 class="my-4">アカウント検索</h2>

<div class="table-responsive search-table">
    <table class="table">
        <form method="post">
            {% csrf_token %}
            <tbody>
                <tr>
                    <th scope="row">
                        <label class="control-label" for="comment">検索キーワード(複数：〇〇+〇〇)</label>
                    </th>
                    <td>
                        {% render_field form.keyword class="form-control" placeholder="キーワードを入力" %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label" for="comment">投稿数(以内)</label>
                    </th>
                    <td>
                        {% render_field form.media_count class="form-control" placeholder="投稿数" %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label" for="comment">フォロワー数(以上)</label>
                    </th>
                    <td>
                        {% render_field form.followers_count class="form-control" placeholder="フォロワー数" %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label" for="comment">アカウント開設日</label>
                    </th>
                    <td>
                        {% render_field form.created_at class="form-control" placeholder="アカウント開設日" %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-warning" type="submit">検索する</button>
                    </td>
                </tr>
            </tbody>
        </form>
    </table>
</div>

<p>※キーワードによっては検索に時間がかかります。</p>

{% endblock %}